@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body, html {
  background: #dbdac6cc;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  overflow-y: auto; /* allow scrolling only if needed */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 0;  /* hide scrollbar in Chrome, Safari, Edge */
  background: transparent;
}